{% extends 'WbcThemeBundle::layout.html.twig' %}

{% block body  -%}

    {{ parent() }}

    <h1 class="page-title">Carrito de compras <small><small>Comprar un produuto</small></small></h1> 

    <form id="comprarProducto" name="comprarProducto" action="" method="post"> 

        <div class="row ng-scope">  
            {% for producto in productos %}   
                <div class="col-md-3 col-sm-6">
                    <section class="widget bg-success text-white">
                        <div class="widget-body clearfix">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="widget-icon"><i class="glyphicon glyphicon-globe"></i></span>
                                </div>
                                <div class="col-xs-9">
                                    <h5 class="no-margin">
                                        <span class="fw-semi-bold">
                                            <a href="{{ path('producto_show', { 'id': producto.id }) }}" data-remote="false" class="modal-info" data-toggle="modal" data-target="#infoModal">{{ producto.nombre }}</a>
                                        </span>
                                    </h5>
                                    <p class="h2 no-margin fw-normal">Q{{ producto.precioVenta }}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5 class="no-margin">En Stock</h5>
                                    <p class="value4">{{ producto.existencia }}</p>
                                </div>
                                <div class="col-xs-6"><h5 class="no-margin">Comprar</h5>  
                                    <input type='checkbox' class = 'checkbox checkbox-primary' id='productoChecked' name='productoChecked' value='{{ producto.id }}'>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>     
            {% endfor %} 
        </div>


        <div class="form-actions">
            <input type="submit" class="btn btn-primary btn-rounded pull-right" style="margin-left: 5px;"  value="{{ 'Comprar productos' | trans }}" />
            <div class="clearfix"></div>
        </div>

    </form>

{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">

        submitAssignForm();

        function submitAssignForm() {
            $('#comprarProducto').unbind('submit').submit(function (e) {
                e.preventDefault();

                if ($('input[name="productoChecked"]:checked').length < 1) {
                    alert("{{ 'No has seleccionado ningun producto.' | trans }}");
                    return;
                }
                //send result to action 

                var host = window.location.host;
                var protocol = window.location.protocol;
                var url_set = protocol + "//" + host + "/administrator/producto/comprar";

                $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: url_set,
                    data: JSON.stringify(serializeObject($('#comprarProducto'))),
                    success: function (response) {


                        if (response.code == 200) {
                            alert('Se han pagado correctamente los productos. Precio total: ' + response.recordset.total + ', los productos comprados le estaran llegando en los proximos dos dias. ');
                            setTimeout(function () {
                                location.reload();
                            }, 500);
                        } else {
                            alert(response.error);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                        var response = JSON.parse(jqXHR.responseText);
                        alert(response.error);

                    }
                });

                return false;
            });
        }

        function serializeObject(object) {
            var arrayData, objectData;
            arrayData = object.serializeArray();
            objectData = {};
            $.each(arrayData, function () {
                var value;
                if (this.value != null) {
                    value = this.value;
                } else {
                    value = '';
                }

                if (objectData[this.name] != null) {
                    if (!objectData[this.name].push) {
                        objectData[this.name] = [objectData[this.name]];
                    }

                    objectData[this.name].push(value);
                } else {
                    objectData[this.name] = value;
                }
            });
            return objectData;
        }

    </script>  

{% endblock %}