<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a href="{{ path('wbc_administrator_homepage') }}">{{ project.name }}</a>
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
             looks good, so adding it and enhancing with notifications -->
        <div class="sidebar-status visible-xs">
            {{ include('WbcThemeBundle:Partials:Widgets/sidebar/user.html.twig') }}
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <!-- main notification links are placed inside of .sidebar-nav -->
        {{ include('WbcThemeBundle:Partials:Widgets/sidebar/menu.html.twig') }}
        {{ include('WbcThemeBundle:Partials:Widgets/sidebar/labels.html.twig') }}
        {{ include('WbcThemeBundle:Partials:Widgets/sidebar/projects.html.twig') }}
    </div>
</nav>