{% extends 'WbcThemeBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'Ventas' | trans }}</li>
    {% endblock %}

{% block title %}
    {{ 'Ventas' | trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="page-title pull-left">{{ 'Reporte de ventas' | trans }}</h1>

    <div class="clearfix"></div>
    <br>

    <section class="widget">
        <header>
            <div class="widget-controls">
                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            </div>
        </header>
        <div class="widget-body">
            <div class="mt">
                <table id="datatable-table" class="table table-striped table-hover">
                    <thead>
                        <tr>                                                                                                                        
                            <th class="no-sort">{{ 'Codigo' | trans }}</th>                                                                                                                        
                            <th class="hidden-xs">{{ 'Fecha' | trans }}</th>                                                                                                                        
                            <th class="hidden-xs">{{ 'Usuario' | trans }}</th>          
                            <th class="hidden-xs">{{ 'Total' | trans }}</th>  
                        </tr>
                    </thead>
                    <tbody>

                        {% for producto in productos %}
                            <tr>




                                <td class="no-sort">
                                    <span class="fw-semi-bold">
                                        <a href="{{ path('producto_showventa', { 'id': producto.ventaId }) }}" data-remote="false" class="modal-info" data-toggle="modal" data-target="#infoModal">{{ producto.facturaId }} - {{ producto.ventaId }}</a>
                                    </span>
                                </td>                    


                                <td class="hidden-xs">{% if producto.creacion %}{{ producto.creacion|date('Y-m-d H:i:s') }}{% endif %}</td>                    


                                <td class="hidden-xs">{{ producto.first_name }} {{ producto.last_name }}</td>     

                                <td class="hidden-xs">{{ producto.total }}</td>

                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {

            var unsortableColumns = [];
            $('#datatable-table').find('thead th').each(function () {
                if ($(this).hasClass('no-sort')) {
                    unsortableColumns.push({"bSortable": false});
                } else {
                    unsortableColumns.push(null);
                }
            });

            $("#datatable-table").dataTable({
                "sDom": "<'row'<'col-md-6 hidden-xs'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                "oLanguage": {
                    "sLengthMenu": "_MENU_",
                    "sInfo": "{{ 'Showing' | trans }} <strong>_START_ {{ 'to' | trans }} _END_</strong> {{ 'of' | trans }} _TOTAL_ {{ 'entries' | trans }}",
                    "zeroRecords": "{{ 'Nothing found - sorry' | trans }}",
                    "infoEmpty": "{{ 'No records available' | trans }}",
                    "sInfoEmpty": "{{ 'Showing' | trans }} <strong>0 {{ 'to' | trans }} 0 {{ 'of' | trans }} 0</strong> {{ 'entries' | trans }}",
                    "infoFiltered": "({{ 'filtered from' | trans }} _MAX_ {{ 'total records' | trans }})",
                    "sProcessing": "{{ 'Processing...' | trans }}",
                    "sLoadingRecords": "{{ 'Loading...' | trans }}",
                    "sProcessing":     "{{ 'Processing...' | trans }}",
                            "sSearch": "{{ 'Search:' | trans }}",
                    "sZeroRecords": "{{ 'No matching records found' | trans }}",
                    "oPaginate": {
                        "sFirst": "{{ 'First' | trans }}",
                        "sLast": "{{ 'Last' | trans }}",
                        "sNext": "{{ 'Next' | trans }}",
                        "sPrevious": "{{ 'Previous' | trans }}"
                    },
                    "oAria": {
                        "sSortAscending": ": {{ 'activate to sort column ascending' | trans }}",
                        "sSortDescending": ": {{ 'activate to sort column descending' | trans }}"
                    }
                },
                "oClasses": {
                    "sFilterInput": "form-control input-rounded ml-sm"
                },
                "aoColumns": unsortableColumns,
                "stateSave": true
            });

            $(".dataTables_length select").selectpicker({
                width: 'auto'
            });
        });
    </script>

{% endblock %}
