{% extends 'WbcThemeBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'Permission list' | trans }}</li>
{% endblock %}

{% block title %}
    {{ 'Permission list' | trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="page-title pull-left">{{ 'Permission list' | trans }}</h1>

    <div class="pull-right">
        <a data-parent="#content" class="btn btn-primary btn-lg mb-xs" href="{{ path('permission_new') }}">{{ 'Create new' | trans }}</a>
    </div>

    <div class="clearfix"></div>
    <br>

    <section class="widget">
        <header>
            <div class="widget-controls">
                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            </div>
        </header>
        <div class="widget-body">
            <div class="mt">
                <table id="datatable-table" class="table table-striped table-hover">
                    <thead>
                    <tr>                                                                                                                        
                        <th class="no-sort">{{ 'Name' | trans }}</th>                                                                                                                        
                        <th class="hidden-xs">{{ 'Created_by' | trans }}</th>
                        <th class="hidden-xs">{{ 'Created_at' | trans }}</th>
                        <th width="120" class="no-sort">{{ 'Actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for permission in permissions %}
                        <tr>
                            <td class="no-sort">
                                <span class="fw-semi-bold">
                                    <a href="{{ path('permission_show', { 'id': permission.id }) }}" data-remote="false" class="modal-info" data-toggle="modal" data-target="#infoModal">{{ permission.name }}</a>
                                </span>
                            </td>
                            <td class="hidden-xs">{{ permission.createdby | user | raw }}</td>
                            <td class="hidden-xs">{% if permission.createdat %}{{ permission.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td class="no-sort">
                                <a data-parent="#content" data-toggle="tooltip" data-placement="top" title="{{ 'Edit' | trans }}" data-original-title="{{ 'Edit' | trans }}" class="btn btn-default mb-xs" role="button" href="{{ path('permission_edit', { 'id': permission.id }) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                &nbsp;
                                <a data-parent="#content" data-toggle="tooltip" data-placement="top" title="{{ 'Delete' | trans }}" data-original-title="{{ 'Delete' | trans }}" class="btn btn-danger mb-xs btn-delete" role="button" href="{{ path('permission_delete', { 'id': permission.id }) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>                    
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function(){

            var unsortableColumns = [];
            $('#datatable-table').find('thead th').each(function(){
                if ($(this).hasClass( 'no-sort')){
                    unsortableColumns.push({"bSortable": false});
                } else {
                    unsortableColumns.push(null);
                }
            });

            $("#datatable-table").dataTable({
                "sDom": "<'row'<'col-md-6 hidden-xs'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                "oLanguage": {
                    "sLengthMenu": "_MENU_",
                    "sInfo": "{{ 'Showing' | trans }} <strong>_START_ {{ 'to' | trans }} _END_</strong> {{ 'of' | trans }} _TOTAL_ {{ 'entries' | trans }}",
                    "zeroRecords": "{{ 'Nothing found - sorry' | trans }}",
                    "infoEmpty": "{{ 'No records available' | trans }}",
                    "sInfoEmpty": "{{ 'Showing' | trans }} <strong>0 {{ 'to' | trans }} 0 {{ 'of' | trans }} 0</strong> {{ 'entries' | trans }}",
                    "infoFiltered": "({{ 'filtered from' | trans }} _MAX_ {{ 'total records' | trans }})",
                    "sProcessing":     "{{ 'Processing...' | trans }}",
                    "sLoadingRecords": "{{ 'Loading...' | trans }}",
                    "sProcessing":     "{{ 'Processing...' | trans }}",
                    "sSearch":         "{{ 'Search:' | trans }}",
                    "sZeroRecords":    "{{ 'No matching records found' | trans }}",
                    "oPaginate": {
                        "sFirst":    "{{ 'First' | trans }}",
                        "sLast":     "{{ 'Last' | trans }}",
                        "sNext":     "{{ 'Next' | trans }}",
                        "sPrevious": "{{ 'Previous' | trans }}"
                    },
                    "oAria": {
                        "sSortAscending":  ": {{ 'activate to sort column ascending' | trans }}",
                        "sSortDescending": ": {{ 'activate to sort column descending' | trans }}"
                    }
                },
                "oClasses": {
                    "sFilter": "pull-right",
                    "sFilterInput": "form-control input-rounded ml-sm"
                },
                "aoColumns": unsortableColumns,
                "stateSave": true
            });

            $(".dataTables_length select").selectpicker({
                width: 'auto'
            });
        });
    </script>

{% endblock %}
